{
    "db": {
        "driver": "",
        "host": "",
        "port": ""
    },
    "redis": {
        "host": "",
        "port": "",
        "password": "",
        "db": ""
    },
    "log": {
        "level": ""
    },
    "user_agent": ""
}